<!-- <br>
<div style="background-color: aqua; padding: 15px; width: 25rem;">

    <input id="meu-imput" 
           style="margin-right:5px;margin-bottom: 5px;"
           [value]="inputText"
           [type]="inputType"
           [disabled]="isDisable"
           (keyup)="handLeInputKeyup($event)" />
    <button (click)="setText()">Tipo Texto</button> |
    <button (click)="setPassword()">Tipo Senha</button>

    <br>
    <button (click)="enableImput()">Habilitar</button> |
    <button (click)="disableInput()">Desabilitar</button>

</div> -->


<button [attr.title]="buttonTitle">Teste</button> | 
<button [attr.disabled] = "buttonDisable ? true : null">Desabilitar</button> | 
<button (click) = "onButtonClick()">MUDAR PROPS DOS BOTOES</button> | 
